alabaster==0.7.12
amqp==2.4.2
appdirs==1.4.3
argon2-cffi==18.3.0
atomicwrites==1.3.0
attrs==18.2.0
Babel==2.6.0
billiard==3.5.0.5
bson==0.5.7
celery==4.2.1
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorama==0.4.0
crypto==1.4.1
decorator==4.3.0
Django==2.1.5
docutils==0.14
Faker==0.9.1
get==1.0.3
idna==2.7
imagesize==1.1.0
Jinja2==2.10
kombu==4.4.0
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.0
mixer==6.1.3
more-itertools==6.0.0
Naked==0.1.31
numpy==1.15.2
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
packaging==18.0
pandas==0.23.4
passlib==1.7.1
patch==1.16
pluggy==0.8.1
post==1.0.2
psycopg2==2.7.7
public==1.0.3
py==1.7.0
pybind11==2.2.4
pycparser==2.19
Pygments==2.2.0
pyopencl==2018.2
pyparsing==2.2.2
pytest==4.3.0
python-dateutil==2.7.5
pytools==2018.5.2
pytz==2018.5
PyYAML==3.13
query-string==1.0.2
request==1.0.2
requests==2.19.1
secretsharing==0.2.6
shellescape==3.4.1
six==1.11.0
skia-pathops==0.2.0.post2
snowballstemmer==1.2.1
Sphinx==1.8.1
sphinxcontrib-websupport==1.1.0
text-unidecode==1.2
urllib3==1.23
vine==1.2.0
xmljson==0.2.0
