<!DOCTYPE html>
<html>
<head>
    <title>Visualisation</title>
    <!-- <link rel='stylesheet' type='text/css' href='style.css'>
    <script src="main.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

    <script>
    .ui-widget-header{
        background : #5D3F6A ! important;
    }
    .dataTables_wrapper .ui-toolbar {
      width:127 % ! important;    }
    </script>

</head>
<body>

    <table id="example" class="display datatable" style="width:100%">
        <thead>
            <tr>
                <th class="third">Train Code</th>
                <th>Train Date</th>
                <th class="third">Station Code</th>
                <th class="third">Station</th>
                <th class="third">Origin</th>
                <th class="third">Destination</th>
                <th>Due In</th>
                <th class="third">Arrvial</th>
                <th class="third">Depart</th>
                <th class="third">Direction</th>
            </tr>
        </thead>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    "url": "/BusLuas/IrishRailData",
                    "type": "GET",
                    "dataSrc":""
                },
                "columns": [
                    { "data": "TrainCode" },
                    { "data": "Traindate",
                    "render": function (data) {
                         var date = new Date(data);
                         var month = date.getMonth() + 1;
                         return (date.getDate() + "/" + (month.length > 1 ? month : "0" + month) + "/" + date.getFullYear() + " " + date.getHours() + ":" + date.getMinutes());
                     }                },
                    { "data": "StationCode" },
                    { "data": "StationFullName" },
                    { "data": "Origin" },
                    { "data": "Destination" },
                    { "data": "Duein" },
                    { "data": "Exparrival" },
                    { "data": "Expdepart" },
                    { "data": "Direction" },

                ],
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        });
    </script>

</body>
</html>