<!DOCTYPE html>
<html>
<head>
    <title>Visualisation</title>
    <!-- <link rel='stylesheet' type='text/css' href='style.css'>
    <script src="main.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

</head>
<body>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>StationCode</th>
                <th>StationFullName</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>StationCode</th>
                <th>StationFullName</th>
                <th>Origin</th>
                <th>Destination</th>
            </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "ajax": {
                    url: "/BusLuas/IrishRailData",
                    type: "get",
                    contentType: 'application/json'
                },
                "columns": [
                    { "data": "StationCode" },
                    { "data": "StationFullName" },
                    { "data": "Origin" },
                    { "data": "Destination" }

                ]
            });
        });
    </script>
</body>
</html>